.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxxskZLi-MfWlWaSZ1Yg8oR1xEsCexX8OOTA&usqp=CAU");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}
